 body {
     background: thistle;
 }
 
 form[name=employeeForm] {
     background: antiquewhite;
 }
 
 span {
     color: red;
 }
 
 #listRecord td {
     text-align: center;
     vertical-align: middle;
 }
 
 #formTable td {
     font-size: 18px;
     font-style: oblique;
     font-weight: 500;
 }
 
 #listRecord th {
     min-width: 20%;
     width: 15%;
 }
 
 input[type=text], input[type=email], input[type=number], input[type=date] {
     width: 200px;
 }
 
 #submit, #update {
     width: 130px;
     margin-top: 6%;
     height: 32px;
     border-radius: 16px;
     background: #00b300;
     font-weight: 500;
     font-size: 18px;
 }
 
 #reset, #clear {
     width: 130px;
     margin-top: 6%;
     height: 32px;
     border-radius: 16px;
     background: #da7676;
     font-weight: 500;
     font-size: 18px;
 }